h1 #{MyEvent.EventName}

ul
	li Event Name: #{MyEvent.EventName}
	li Event Date: #{MyEvent.EventDate}
	li Event Place: #{MyEvent.EventPlace}
	li Event Organizer: #{MyEvent.EventOrganizer}
	li Event Description: #{MyEvent.EventDescription}
	| <br>
	a(href="/users") Go back to the list of Event